@page
@model TeamsCTF.Pages.configModel
@{
}

<h2 style="color:white;">There is no configuration necessary. Press Save....</h2>

<script>
    window.addEventListener('load', (evt) => {
        microsoftTeams.initialize();
        microsoftTeams.settings.setValidityState(true);

        microsoftTeams.settings.registerOnSaveHandler((saveEvent) => {
            microsoftTeams.settings.setSettings({
                websiteUrl: "https://localhost:5001",
                contentUrl: "https://localhost:5001",
                entityId: "ctfTab",
                suggestedDisplayName: "CTF"
            });
            saveEvent.notifySuccess();
        });

    });
</script>
