@page
@model IndexModel
@{
    ViewData["Title"] = "GSCC CTF";
}

<style type="text/css">
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }

    .heading {
        color: #6364a5;
        font-size: 2em;
    }

    .inmiddle {
        align-self: center;
        justify-self: center;
    }

    .leethdr {
        color: #ff0000;
        text-shadow: 1px 1px 1px #808080, 0 0 .5em blue, 0 0 0.2em blue;
        font-family: Courier New, Courier, monospace;
        font-size: 3.5em;
    }

    .challenge-cards {
        margin-top: 30px;
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
    }

    .challenge-card:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    .challenge-card {
        border: 1px solid white;
        border-radius: 4px;
        background-color: #212020;
    }

    .challenge-card-content {
        display: grid;
        grid-gap: 5px;
        grid-row: auto;
    }

    .challenge-title {
        color: #b6ff00;
        font-size: 1.5em;
        padding: 20px;
    }

    .challenge-details {
        margin-top: 10px;
        margin-left: 10px;
    }

    .challenge-detail-spacing {
        margin-right: 20px;
    }

    .challenge-points {
        font-weight: 600;
        color: #ff6a00;
        font-family: Courier New, Courier, monospace
    }

    .challenge-category {
        font-weight: 600;
        color: #37a0e6;
    }

    .challenge-status {
        font-weight: 600;
        color: #0094ff;
    }

    .total-overlay-blur {
        /* position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;*/
        filter: blur(4px);
    }

    .total-overlay {
    }

    .hide {
        display: none;
    }

    .challenge-overlay {
        display: grid;
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 11;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .challenge-popup {
        background-color: white;
        border-radius: 10px;
        box-shadow: 10px 10px 25px #484343;
        grid-column: 2;
        grid-row: 2;
        color: black;
        background-image: url( "./images/gscc_nh_text.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: 30%;
    }

    .popup-wrapper {
        display: grid;
        grid-template-rows: .5fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .popup-hdr {
        text-align: right;
    }

    .popup-body {
        margin: 20px;
    }

    .popup-detail {
        color: black;
        font-size: 1em;
    }

    .center {
        margin: auto;
        width: 99%;
        padding: 10px;
    }

    .wrong {
    }

    .correct {
    }
</style>

<div id="popup-correct" class="hide">
    <div class="challenge-popup container">
        <div class="popup-hdr">
            <button type="button" class="btn btn-link" onclick="hidePopup('popup-correct');"><code>c1053</code></button>
        </div>
        <div class="popup-body">
            <div class="popup-detail">
                Well Done! You got it right.
            </div>
        </div>
    </div>
</div>
<div id="popup-wrong" class="hide">
    <div class="challenge-popup container">
        <div class="popup-hdr">
            <button type="button" class="btn btn-link" onclick="hidePopup('popup-wrong');"><code>c1053</code></button>
        </div>
        <div class="popup-body">
            <div class="popup-detail">
                Nope. Try again.
            </div>
        </div>
    </div>
</div>
<div id="challenge-popup" class="hide">
    <div class="challenge-popup container">

        <div>
            <div class="popup-hdr">
                <button type="button" id="close-popup" class="btn btn-link"><code>c1053</code></button>
            </div>
            <div class="popup-body">
                <div class="popup-detail">
                    For the solution to this challenge, download and analyze the file. When you think you have the flag,
                    enter it into the box and submit. Wrong guesses could count against you in the leaderboard.
                </div>
            </div>
            <div>
                <a href="~/resources/ImageIsEverything.txt" download="challenge-3">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="100%" height="100px" preserveAspectRatio="xMidyMid meet">
                        <style>
                            .icon-canvas-transparent {
                                opacity: 0;
                                fill: #f6f6f6
                            }

                            .icon-vs-out {
                                fill: #f6f6f6
                            }

                            .icon-vs-bg {
                                fill: #424242
                            }

                            .icon-vs-fg {
                                fill: #f0eff1
                            }

                            .icon-vs-action-blue {
                                fill: #00539c
                            }
                        </style>
                        <path class="icon-canvas-transparent" d="M16 0v16H0V0h16z" id="canvas" />
                        <path class="icon-vs-out" d="M15 4.379V16H2l.012-9.065L0 4.915v-.537l1.851-1.851.166.166L2.02 0h8.601L15 4.379z" id="outline" />
                        <path class="icon-vs-bg" d="M10.207 1H6v1h3v4h4v8H4V8.931L3 7.927V15h11V4.793L10.207 1zM10 5V2.207L12.793 5H10z" id="iconBg" />
                        <path class="icon-vs-fg" d="M7.132 2.527L6 3.655V2h3v2.396L7.132 2.527zM10 2.207V5h2.793L10 2.207zM9 6V4.899L4.483 9.416l-.479-.481-.004.02V14h9V6H9z" id="iconFg" />
                        <path class="icon-vs-action-blue" d="M5 6.063V1H4v5.081l-2.148-2.14-.707.707L4.485 8l3.352-3.352-.707-.707L5 6.063z" id="colorAction" />
                    </svg>
                </a>
            </div>
            <div>
                <input type="text" id="challenge-3" placeholder="3n73r 6u355">

                <button id="challenge-3-submit" class="btn btn-primary">5ubm17</button>

            </div>
        </div>
    </div>
</div>
<div id="total-overlay">
    <div class="wrapper">
        <div class="inmiddle"><span class="leethdr">c4p7ur3 7h3 fl46</span></div>
        <div><span class="heading">Challenges</span></div>
    </div>

    <div class="challenge-cards">
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">Encryption</span>
                        <span class="challenge-points challenge-detail-spacing">200 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Rainbows and unicorns. Minus the unicorns.
                    </div>
                </div>
            </div>
        </div>

        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">SQL</span>
                        <span class="challenge-points challenge-detail-spacing">100 pts</span>
                        <span class="challenge-status">&#10004;</span>
                    </div>
                    <div class="challenge-title">
                        Little Bobby Tables forgot his password.
                    </div>
                </div>
            </div>
        </div>

        <div class="challenge-card" id="image-is-everything">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">Encoding</span>
                        <span class="challenge-points challenge-detail-spacing">200 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Image is everything.
                    </div>
                </div>
            </div>
        </div>

        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">Code Breaker</span>
                        <span class="challenge-points challenge-detail-spacing">500 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Friends, Romans, Countrymen...
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">Network</span>
                        <span class="challenge-points challenge-detail-spacing">1500 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Follow protocol
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">OWASP</span>
                        <span class="challenge-points challenge-detail-spacing">300 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Security by obscurity
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">Inspection</span>
                        <span class="challenge-points challenge-detail-spacing">250 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        I put a hex on you!
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">OWASP</span>
                        <span class="challenge-points challenge-detail-spacing">300 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        IIS logs reveal site and access info
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">OWASP</span>
                        <span class="challenge-points challenge-detail-spacing">300 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Placeholder
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">OWASP</span>
                        <span class="challenge-points challenge-detail-spacing">300 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Placeholder
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">OWASP</span>
                        <span class="challenge-points challenge-detail-spacing">300 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Placeholder
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">OWASP</span>
                        <span class="challenge-points challenge-detail-spacing">300 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Placeholder
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">OWASP</span>
                        <span class="challenge-points challenge-detail-spacing">300 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Placeholder
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">OWASP</span>
                        <span class="challenge-points challenge-detail-spacing">300 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Placeholder
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">OWASP</span>
                        <span class="challenge-points challenge-detail-spacing">300 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Placeholder
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">OWASP</span>
                        <span class="challenge-points challenge-detail-spacing">300 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Placeholder
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">OWASP</span>
                        <span class="challenge-points challenge-detail-spacing">300 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Placeholder
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">OWASP</span>
                        <span class="challenge-points challenge-detail-spacing">300 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Placeholder
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">OWASP</span>
                        <span class="challenge-points challenge-detail-spacing">300 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Placeholder
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/site.js" asp-append-version="true"></script>