@page
@model IndexModel
@{
    ViewData["Title"] = "GSCC CTF";
}

<style type="text/css">
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }

    .heading {
        color: #6364a5;
        font-size: 2em;
    }

    .inmiddle {
        align-self: center;
        justify-self: center;
    }

    .leethdr {
        color: #ff0000;
        text-shadow: 1px 1px 1px #808080, 0 0 .5em blue, 0 0 0.2em blue;
        font-family: Courier New, Courier, monospace;
        font-size: 3.5em;
    }

    .challenge-cards {
        margin-top: 30px;
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
    }

    .challenge-card:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    .challenge-card {
        border: 1px solid white;
        border-radius: 4px;
        background-color: #212020;
    }

    .challenge-card-content {
        display: grid;
        grid-gap: 5px;
        grid-row: auto;
    }

    .challenge-title {
        color: #b6ff00;
        font-size: 1.5em;
        padding: 20px;
    }

    .challenge-details {
        margin-top: 10px;
        margin-left: 10px;
    }

    .challenge-detail-spacing {
        margin-right: 20px;
    }

    .challenge-points {
        font-weight: 600;
        color: #ff6a00;
        font-family: Courier New, Courier, monospace
    }

    .challenge-category {
        font-weight: 600;
        color: #37a0e6;
    }

    .challenge-status {
        font-weight: 600;
        color: #0094ff;
    }

    .total-overlay-blur {
        /* position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;*/
        filter: blur(4px);
    }

    .total-overlay {
    }

    .hide {
        display: none;
    }

    .challenge-overlay {
        display: grid;
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 11;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .challenge-popup {
        background-color: white;
        border-radius: 10px;
        box-shadow: 10px 10px 25px #484343;
        grid-column: 2;
        grid-row: 2;
        color: black;
        background-image: url( "./images/gscc_nh_text.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: 30%;
    }

    .popup-wrapper {
        display: grid;
        grid-template-rows: .5fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .popup-hdr {
        text-align: right;
    }

    .popup-body {
        margin: 20px;
    }

    .popup-detail {
        color: black;
        font-size: 1em;
    }

    .center {
        margin: auto;
        width: 99%;
        padding: 10px;
    }

    .wrong {
    }

    .correct {
    }
</style>

<div id="popup-correct" class="hide">
    <div class="challenge-popup container">
        <div class="popup-hdr">
            <button type="button" class="btn btn-link" onclick="hidePopup('popup-correct');"><code>c1053</code></button>
        </div>
        <div class="popup-body">
            <div class="popup-detail">
                Well Done! You got it right.
            </div>
        </div>
    </div>
</div>
<div id="popup-wrong" class="hide">
    <div class="challenge-popup container">
        <div class="popup-hdr">
            <button type="button" class="btn btn-link" onclick="hidePopup('popup-wrong');"><code>c1053</code></button>
        </div>
        <div class="popup-body">
            <div class="popup-detail">
                Nope. Try again.
            </div>
        </div>
    </div>
</div>
<div id="challenge-popup" class="hide">
    <div class="challenge-popup container">

        <div>
            <div class="popup-hdr">
                <button type="button" id="close-popup" class="btn btn-link"><code>c1053</code></button>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Image Is Everything</h5>
                    <p class="card-text">
                        For the solution to this challenge, download and analyze the file. When you think you have the flag,
                        enter it into the box and submit
                    </p>
                    <a href="~/resources/ImageIsEverything.txt" class="card-link" download="challenge-3">Download</a>

                </div>
                <div class="card-footer">
                    <form class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" name="flag" aria-describedby="flagHelp" placeholder="3n73r 6u355" />
                        </div>
                            <button id="challenge-3-submit" class="btn btn-primary">
                                5ubm17
                            </button>
                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="challenge-popup-8" class="hide">
    <div class="challenge-popup container">

        <div>
            <div class="popup-hdr">
                <button type="button" id="close-popup" class="btn btn-link" onclick="hidePopup('challenge-popup-8');"><code>c1053</code></button>
            </div>
            <div class="popup-body">
                <div class="popup-detail">
                    When you find the flag, enter it below and submit to claim your points.
                </div>
            </div>
            <div>
                Clue:
                <a href="https://hub.docker.com/r/contrivedex/environmentally-friendly" target="_blank">
                    https://hub.docker.com/r/contrivedex/environmentally-friendly
                </a>
            </div>
            <div style="margin-top:50px;">
                <input type="text" id="challenge-8" placeholder="3n73r 6u355">

                <button id="challenge-3-submit" class="btn btn-primary">5ubm17</button>

            </div>
        </div>
    </div>
</div>
<div id="total-overlay">
    <div class="wrapper">
        <div class="inmiddle"><span class="leethdr">c4p7ur3 7h3 fl46</span></div>
        <div><span class="heading">Challenges</span></div>
    </div>

    <div class="challenge-cards">
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">Encryption</span>
                        <span class="challenge-points challenge-detail-spacing">200 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Rainbows and unicorns. Minus the unicorns.
                    </div>
                </div>
            </div>
        </div>

        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">SQL</span>
                        <span class="challenge-points challenge-detail-spacing">100 pts</span>
                        <span class="challenge-status">&#10004;</span>
                    </div>
                    <div class="challenge-title">
                        Little Bobby Tables forgot his password.
                    </div>
                </div>
            </div>
        </div>

        <div class="challenge-card" id="image-is-everything">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">Encoding</span>
                        <span class="challenge-points challenge-detail-spacing">200 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Image is everything.
                    </div>
                </div>
            </div>
        </div>

        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">Code Breaker</span>
                        <span class="challenge-points challenge-detail-spacing">500 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Friends, Romans, Countrymen...
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">Network</span>
                        <span class="challenge-points challenge-detail-spacing">1500 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Follow protocol
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">OWASP</span>
                        <span class="challenge-points challenge-detail-spacing">300 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Security by obscurity
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">Inspection</span>
                        <span class="challenge-points challenge-detail-spacing">250 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        I put a hex on you!
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card" id="env-friendly">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">Docker</span>
                        <span class="challenge-points challenge-detail-spacing">300 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        This one is environmentally friendly.
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">OWASP</span>
                        <span class="challenge-points challenge-detail-spacing">300 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Placeholder
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">OWASP</span>
                        <span class="challenge-points challenge-detail-spacing">300 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Placeholder
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">OWASP</span>
                        <span class="challenge-points challenge-detail-spacing">300 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Placeholder
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">OWASP</span>
                        <span class="challenge-points challenge-detail-spacing">300 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Placeholder
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">OWASP</span>
                        <span class="challenge-points challenge-detail-spacing">300 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Placeholder
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">OWASP</span>
                        <span class="challenge-points challenge-detail-spacing">300 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Placeholder
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">OWASP</span>
                        <span class="challenge-points challenge-detail-spacing">300 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Placeholder
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">OWASP</span>
                        <span class="challenge-points challenge-detail-spacing">300 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Placeholder
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">OWASP</span>
                        <span class="challenge-points challenge-detail-spacing">300 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Placeholder
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">OWASP</span>
                        <span class="challenge-points challenge-detail-spacing">300 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Placeholder
                    </div>
                </div>
            </div>
        </div>
        <div class="challenge-card">
            <div class="challenge-card-content">
                <div>
                    <div class="challenge-details">
                        <span class="challenge-category challenge-detail-spacing">OWASP</span>
                        <span class="challenge-points challenge-detail-spacing">300 pts</span>
                        <span class="challenge-status">?</span>
                    </div>
                    <div class="challenge-title">
                        Placeholder
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/site.js" asp-append-version="true"></script>